@media (max-width: 991px) {
    .promo { 
        &__icons {
            width: 400px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .button {
        &__main {
            width: 270px;
            height: 45px;
            font-size: 14px;
        }  
    }
}
@media (max-width: 768px) {
    .header {
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        &__official {
            margin: 0 40px 25px 40px;
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__contacts {
            align-items: center;
        }
        &__phone {
            margin-bottom: 8px;
        }
        &__logo {
            width: 240px;
        }
    }
    .promo {
       &__wrapper {
           width: 92%;
       }
       &__header {
           font-size: 28px;
       }
       &__subheader {
           margin-top: 0px;
           font-size: 16px;
       }
       &__icons {
           width: 308px;
       }
       &__icon {
           font-size: 12px;
       }
    }
    .advantages {
        .title {
            font-size: 28px;
        }
    }
    .consultation {
        display: flex;
        .title {
            &_left {
                font-size: 34px;
            }
        }
    }
}
@media (max-width: 576px) {
    .header {
        justify-content: space-between;
        &__official {
            display: none;
        }
        &__phone {
            margin: 0 10px 3px 0;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
            width: 100%;
        }
    }
    .advantages {
        .title {
            font-size: 24px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
    .consultation {
        .title {
            &_left {
                font-size: 28px;
                text-align: center;
                margin: 0;
            }
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            margin-top: 30px;
            font-size: 15px;
            text-align: center;
        }
    }
}
@media (max-width: 320px) {
    .header {
        &__logo {
            width: 160px;
        }
        &__phone {
            font-size: 10px;
        } 
        .button {
            width: 120px;
            height: 20px;
            font-size: 9px;
        }
    }
    .promo {
        padding-top: 15px;
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__wrapper {
            align-items: center;
            width: 100%;
        }
    }
    .consultation {
        .hidden-320 {
            display: none;
        }
    }
}  