@media (max-width: 1200px) {
    .button {
        transition: none;
        &:hover {
            background-color: $main-color;
            color: #ffffff;
            transform: translate(0);
            box-shadow: 0 0 0 0;
        }
    }
    .promo {
        &__link {
            a {
                &:hover {
                    color: #ffffff;
                    text-decoration: underline;
                }
            }
        }
    }
    .advantages {
        &__descr {
            a {
                &:hover {
                    color: $main-color;
                    text-decoration: underline;
                }
            }
        }
    }
    .footer {
        &__phone {
            &:hover {
                color: #ffffff;
                text-decoration: none;
            }  
        }
        &__social-item {
            transition: none;
            &:hover {
                transform: translate(0);
            }
        }     
    }
    
}
@media (max-width: 991px) {
    .promo { 
        &__icons {
            width: 400px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .button {
        &__main {
            width: 270px;
            height: 45px;
            font-size: 14px;
        }  
    }
    .carousel {
        .slick-dots {
            position: absolute;
            width: 100%;
            top: 98%;
            padding: 0;
            text-align: center;
            list-style-type: none;
            li {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 5px;
                padding: 0;
                cursor: pointer;
                button {
                    font-size: 0;
                    background-color: #fff;
                    border: none;
                    margin: 0 5px;
                    &:before {
                        content: '•';
                        font-size: 40px;
                        color: #d0d0d0;
                    }
                }
            }    
        }
    }
}
@media (max-width: 768px) {
    .header {
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        &__official {
            margin: 0 40px 25px 40px;
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__contacts {
            align-items: center;
        }
        &__phone {
            margin-bottom: 8px;
        }
        &__logo {
            width: 240px;
        }
    }
    .promo {
       &__wrapper {
           width: 92%;
       }
       &__header {
           font-size: 28px;
       }
       &__subheader {
           margin-top: 0px;
           font-size: 16px;
       }
       &__icons {
           width: 308px;
       }
       &__icon {
           font-size: 12px;
       }
    }
    .title {
        font-size: 28px;
    }
    .consultation {
        display: flex;
        .title {
            &_left {
                font-size: 34px;
            }
        }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
        &-item {
            margin: 0 10px 20px 10px;
        }
    }
    .feed {
        &__img {
            margin-left: 5px;
        }
    }
    .footer {
        &__info {
            width: 440px;
            height: 250px;
        }
        &__addr {
            font-size: 18px;
        }
        &__phone {
            font-size: 18px;
        }
    }
}
@media (max-width: 576px) {
    .header {
        justify-content: space-between;
        &__official {
            display: none;
        }
        &__phone {
            margin: 0 10px 3px 0;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
            width: 100%;
        }
    }
    .title {
        font-size: 24px;
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
    .consultation {
        .title {
            &_left {
                font-size: 28px;
                text-align: center;
                margin: 0;
            }
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            margin-top: 30px;
            font-size: 15px;
            text-align: center;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__tab {
            width: 170px;
        }
    }
    .feed {
        &__item {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 50px;
        }
    }
    .footer {
        &__info {
            width: 380px;
            height: 230px;
            padding-top: 40px;
        }
        &__addr {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 30px;
        }
        &__phone {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 32px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 20px;
            }
        }
    }
}
@media (max-width: 375px) {
    .header {
        justify-content: center;
        &__phone {
            margin: 15px 0 15px 0;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 67px;
        }
    }
    .feed {
        &__item {
            text-align: left;
        }
    }
    .footer {
        &__info {
            width: 100%;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            margin-top: 35px;
        }
        &__tab {
            font-size: 10px;
            margin: 5px 0;
        } 
    }
    .modal {
        width: 250px;
        min-height: 300px;
        padding: 28px 30px 30px 30px;
        &__close {
            right: -30px;
            font-size: 30px;
            line-height: 10px;
        }
        &__subtitle {
            font-size: 11px;
        }
        &__descr {
            font-size: 10px;
        }
    }
    .feed-form {
        width: 100%;
        input {
            height: 35px;
            padding: 0 10px;
            font-size: 8px;
        }
        &_public {
            width: 300px;
            input {
                height: 40px;
                font-size: 12px;
                padding: 0 20px;
            }
        }
    }
    .button {
        &_submit {
            height: 40px;
            font-size: 10px;
        }
    }
}

@media (max-width: 320px) {
    .promo {
        padding-top: 15px;
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__wrapper {
            align-items: center;
            width: 100%;
        }
    }
    .title {
        font-size: 20px;
    }
    .consultation {
        .hidden-320 {
            display: none;
        }
        .title {
            font-size: 24px;
        }
    }
    .carousel {
        .slick-dots {
            li {
                button {
                    &:before {
                        font-size: 30px;
                    }
                }
            }
        }    
    }
    .footer {
        &__info {
            height: 200px;
        }
        &__addr {
            font-size: 11px;
            line-height: 11px;
            margin-bottom: 26px;
        }
        &__phone {
            font-size: 11px;
            line-height: 11px;
            margin-bottom: 28px;
        }
        &__social-item {
            margin: 0 10px;
            width: 35px;
            height: 35px;
            img {
                height: 18px;
            }
        }
    }
    .button {
        &_submit {
            height: 40px;
            font-size: 9px;
        }
    }
    label.error {
        font-size: 10px;
    }
}